<button type="button" class="btn btn-primary" data-ng-click="redirect_note_new()">发布笔记</button>
<br>
<div class="table-responsive" data-ng-show="notes">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>笔记</th>
      <th>作者</th>
      <th>标签</th>
      <th>发布时间</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="note in notes">
      <td>
        <a href="javascript:void(0);" data-ng-click="show_note(note.id)">{{note.title}}</a>
        <span class="icon icon-attach" data-ng-show="note.attach"></span>
      </td>
      <td>{{note.owner.username}}</td>
      <td>
        <span class="label label-info" data-ng-repeat="tag in note.tags"> {{tag}} </span>
      </td>
      <td>{{note.updated_at | date:'yyyy-MM-dd HH:mm'}}</td>
    </tr>
    </tbody>
  </table>
</div>