<div class="alert alert-success alert-dismissable hide" id="message">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  笔记添加成功，<a href="javascript:void(0);" data-ng-click="redirect_tab('note')">立即查看</a>
</div>
<div class="head-group">
    <button type="button" class="btn btn-primary pull-right" data-ng-click="create_note($event)">提交</button>
    <button type="button" class="btn btn-default pull-right" data-ng-click="redirect_tab('note')">取消</button>
    <div class="btn-group pull-right">
        <button id="noteType" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          个人笔记 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:void(0);" data-ng-click="change_type('note', $event)">个人笔记</a></li>
          <li><a href="javascript:void(0);" data-ng-click="change_type('discussion', $event)">课堂讨论</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0);" data-ng-click="change_type('attachment', $event)">课件资料</a></li>
          <li><a href="javascript:void(0);" data-ng-click="change_type('guide', $event)">课堂教案</a></li>
        </ul>
    </div>
</div>
<div class="form-group">
    <label for="noteTitle">主题</label>
    <input type="text" class="form-control" id="noteTitle" placeholder="Enter title" required="required">
</div>


<label class="label-content" for="noteContent">正文</label>
<%= render :partial => 'web_ui/shared/editor'%>
<div class="form-group">
  <label for="noteTitle">标签</label>
  <input type="text" class="form-control" id="tags" placeholder="添加标签，空格隔开，不多于三个">
</div>
<div class="form-group" gm-uploader-element></div>
