<div class="alert alert-success alert-dismissable hide" id="message">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  笔记添加成功，<a href="javascript:void(0);" data-ng-click="redirect_tab('note')">立即查看</a>
</div>
<div class="head-group">
    <button type="button" class="btn btn-primary pull-right" data-ng-click="create_note()">提交</button>
    <button type="button" class="btn btn-default pull-right" data-ng-click="redirect_tab('note')">取消</button>
</div>
<div class="form-group">
    <label for="noteTitle">笔记题目</label>
    <input type="text" class="form-control" id="noteTitle" placeholder="Enter title" required="required">
</div>
<label class="label-content" for="noteContent">笔记内容</label>
<%= render :partial => 'web_ui/shared/editor'%>
<div class="form-group">
  <label for="noteTitle">标签</label>
  <input type="text" class="form-control" id="tags" placeholder="添加标签，空格隔开，不多于三个">
</div>
<div class="form-group" gm-uploader-element>
  <label for="file">附件</label>
  <span class="text-danger" id="file-validation-message"></span>
  <input type="file" id="file" name="file">
  <div class="progress progress-striped" id="progress">
    <div class="progress-bar progress-bar-info" id="bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
      <span id="percent">0%</span>
    </div>
  </div>
  <div id="file-container"></div>
</div>
