<button type="button" class="btn btn-primary" data-ng-click="redirect_note_new()">发布笔记</button>
<br>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>笔记</th>
      <th>作者</th>
      <th>标签</th>
      <th>附件</th>
      <th>发布时间</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="note in notes">
      <td><a href="javascript:void(0);" data-ng-click="show_note(note.id)">{{note.title}}</a></td>
      <td>{{note.owner.username}}</td>
      <td>
        <p class="label label-info"> 标签 </p>
      </td>
      <td><span class="icon icon-attach"></span></td>
      <td>{{note.updated_at}}</td>
    </tr>
    </tbody>
  </table>
</div>