<div class="group">
  <h1></h1>
  <ul class="nav nav-tabs">
    <li class="active"><a href="javascript:void(0);">笔记</a></li>
    <li><a href="javascript:void(0);">学生</a></li>
    <li><a href="javascript:void(0);">作业</a></li>
    <li><a href="javascript:void(0);">点名</a></li>
  </ul>
</div>