@import "base";

.container {
  .group {
    .nav-tabs {
      li {
        & > a {
          color: #000000 !important;
        }
        &.active > a {
          color: @brand-primary !important;
        }
      }
    }
    .head-info {
      position: relative;
      .head-btn {
        position: absolute;
        margin: 4px 0;
        top: 0;
        right: 12px;
        overflow: hidden;
        a {
          margin: 0 4px;
        }
      }
    }
    .tab-content {
      margin-top: @margin-large;
    }
    .label-content {
      margin-top: @margin-large ;
    }
    .head-group {
      height: 32px;
      button {
        margin-left: @margin-large;
      }
    }
    #progress {
      display: none;
    }
  }
}

