<footer>
  <div class="container text-center">
    <p>&copy; 2013-2014 保留所有权利. 联系 <a href="mailto:gongmingqm10@gmail.com">gongmingqm10@gmail.com</a>.</p>
    <div>
      <a href="javascript: void(0);">法律声明</a> |
      <a href="javascript: void(0);">联系我们</a> |
      <a href="javascript: void(0);">关于我们</a> |
      <a href="javascript: void(0);">加入我们</a>
    </div>
  </div>
</footer>