<nav class="navbar navbar-toolbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-example-masthead-collapse-1">
        <span class="sr-only">互动课堂</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">HUST</a>
    </div>
    <div class="collapse navbar-collapse bs-example-masthead-collapse-1">
      <ul class="nav navbar-nav">
        <li gm-activate-element="course"><a href="/course">课堂</a></li>
        <li gm-activate-element="assignment"><a href="/assignment">作业</a></li>
        <li gm-activate-element="attachment"><a href="/attachment">课件</a></li>
        <li gm-activate-element="sign"><a href="/sign">点名</a></li>
      </ul>
    </div>
  </div>
</nav>