<% content_for :assets do %>
    <%= stylesheet_link_tag    "assignment", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "app-assignment", "data-turbolinks-track" => true %>
<% end %>

<div class="container" ng-controller="AssignmentController">
    <div ng-view></div>
</div>