<% content_for :assets do %>
    <%= stylesheet_link_tag    "assignment", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "assignment", "data-turbolinks-track" => true %>
<% end %>

<div>
  <p>welcome to assignment page.</p>
</div>