<% content_for :assets do %>
    <%= stylesheet_link_tag    "attachment", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "app-attachment", "data-turbolinks-track" => true %>
<% end %>

<div class="container" ng-controller="AttachmentController">
  <p>welcome to attachment page.</p>
</div>