<% content_for :assets do %>
    <%= stylesheet_link_tag    "attachment", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "attachment", "data-turbolinks-track" => true %>
<% end %>

<div>
  <p>welcome to attachment page.</p>
</div>