<% content_for :assets do %>
    <%= stylesheet_link_tag    "attachment", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "app-attachment", "data-turbolinks-track" => true %>
<% end %>

<div class="container" ng-controller="AttachmentController">
  <p class="text-warning" data-ng-hide="attachments">没有找到任何与您相关的课件～.～</p>
  <div class="table-responsive" data-ng-show="attachments">
    <table class="table">
      <thead>
      <tr>
        <th>附件</th>
        <th>大小</th>
        <th>上传时间</th>
        <th>下载</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="attachment in attachments">
        <td>{{attachment.filename}}</td>
        <td>{{attachment.size | bytes}}</td>
        <td>{{attachment.updated_at | date:'yyyy-MM-dd'}}</td>
        <td><a data-ng-href="{{attachment.url}}" target="_blank">下载</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>