<% content_for :assets do %>
    <%= stylesheet_link_tag    "course", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "app-course", "data-turbolinks-track" => true %>
<% end %>

<div class="container" ng-controller="CourseController">
  <p class="text-warning" data-ng-hide="groups">您暂时处于游离状态～</p>
  <div class="table-responsive" data-ng-show="groups">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>课程</th>
        <th>课堂</th>
        <th>教师</th>
        <th>学生</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="group in groups">
        <td><a data-ng-href="/course/{{group.id}}">{{group.course.name}}</a></td>
        <td>{{group.name}}</td>
        <td>{{group.teacher.username}}</td>
        <td>{{group.size}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>