<% content_for :assets do %>
    <%= stylesheet_link_tag    "course", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "app-course", "data-turbolinks-track" => true %>
<% end %>

<div class="container" ng-controller="CourseController">
<div ng-view></div>
</div>