<% content_for :assets do %>
    <%= stylesheet_link_tag    "group", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "app-group", "data-turbolinks-track" => true %>
<% end %>

<div class="container" ng-controller="GroupController" data-ng-init="load_group('<%= @group_id %>')">
  <div class="group">
    <h1></h1>
    <div ng-view></div>
  </div>
</div>

