<% content_for :assets do %>
    <%= stylesheet_link_tag    "sign", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "sign", "data-turbolinks-track" => true %>
<% end %>

<div>
  <p>welcome to sign page.</p>
</div>