<div class="head-info">
  <h3>{{group.course.name}}</h3>
  <p class="text-muted">{{group.name}}</p>
  <p class="text-muted">教师：{{group.teacher.username}}</p>
  <div class="head-btn">
    <a href="javascript:void(0);" data-ng-click="start_session()">
      <span class="icon icon-videocam"></span> 直播
    </a>
    <a href="javascript:void(0);">
      <span class="icon icon-user-add"></span> 成员
    </a>
    <a href="javascript:void(0);">
      <span class="icon icon-cog"></span> 设置
    </a>
    <a href="javascript:void(0);" data-ng-click="">
      <span class="icon icon-chart-bar"></span> 统计
    </a>
  </div>
</div>
<hr>

<div>
  <ul id="groupTabs" class="nav nav-tabs">
    <li data-ng-class="{active : is_current_tab('note')}"><a href="javascript:void(0);" data-ng-click="current_tab = 'note'">笔记</a></li>
    <li data-ng-class="{active : is_current_tab('homework')}"><a href="javascript:void(0);" data-ng-click="current_tab = 'homework'">作业</a></li>
    <li data-ng-class="{active : is_current_tab('student')}"><a href="javascript:void(0);" data-ng-click="current_tab = 'student'">学生</a></li>
  </ul>
  <div class="tab-content">
    <div data-ng-show="is_current_tab('note')"><%= render :partial => 'web_ui/group/note/all' %></div>
    <div data-ng-show="is_current_tab('homework')"><%= render :partial => 'web_ui/group/homework/all' %></div>
    <div data-ng-show="is_current_tab('student')"><%= render :partial => 'web_ui/group/student' %></div>
  </div>

</div>