<p>视频直播</p>
<div id="myPublisherDiv"></div>
<script type="text/javascript">
    // Initialize API key, session, and token...
    // Think of a session as a room, and a token as the key to get in to the room
    // Sessions and tokens are generated on your server and passed down to the client
    var apiKey = "44814792";
    var sessionId = "2_MX40NDgxNDc5Mn5-VGh1IE1heSAyOSAxOTozMzoyMSBQRFQgMjAxNH4wLjcwMjI5NDZ-fg";
    var token = "T1==cGFydG5lcl9pZD00NDgxNDc5MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz0xZTYzYjRkZDkwNjdhMzM0YzBhN2YzNzVkM2U2NGRlODEyZGNhZjM5OnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9Ml9NWDQwTkRneE5EYzVNbjUtVkdoMUlFMWhlU0F5T1NBeE9Ub3pNem95TVNCUVJGUWdNakF4Tkg0d0xqY3dNakk1TkRaLWZnJmNyZWF0ZV90aW1lPTE0MDE0MTcyMDImbm9uY2U9MC4zNTI2MTY0OTU5MTU4Mjc2NyZleHBpcmVfdGltZT0xNDAxNTAzNjA2JmNvbm5lY3Rpb25fZGF0YT0=";

    // Initialize session, set up event listeners, and connect
    var session = TB.initSession(sessionId);
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.connect(apiKey, token);

    function sessionConnectedHandler(event) {
        var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
        session.publish(publisher);
    }
</script>