<button type="button" class="btn btn-primary" data-ng-click="redirect_homework_new()">布置作业</button>
<hr>

<div class="table-responsive">

  <p>我布置的作业</p>

  <div class="panel panel-default" data-ng-repeat="homework in created_homeworks">
    <div class="panel-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-target="#{{homework.id}}" data-parent="#accordion">
          {{homework.title}}
        </a>
        {{homework.participants}}/{{homework.group.members_size}}
        截止日期：{{homework.expiration | date:'yyyy-MM-dd'}}
        <a href="javascript:void(0);">查看详情</a>
      </p>
    </div>
    <div id="{{homework.id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover">
          <tr data-ng-repeat="member in homework.group.members">
            <td>{{member.username}}</td>
            <td>显示当前状态</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <p>我要做的作业</p>
  <table class="table table-hover">
    <tbody>
    <tr data-ng-repeat="homework in submit_homeworks">
      <td>
        <a href="javascript:void(0);" data-ng-click="submit_homework(homework.id)">
          {{homework.title}}
          <span class="icon icon-eye" data-ng-hide="homework.submittable"></span>
          <span class="icon icon-edit" data-ng-show="homework.submittable"></span>
        </a>
      </td>
      <td>{{homework.author.username}}</td>
      <td data-ng-show="homework.expiration">{{homework.expiration | date:'yyyy-MM-dd'}}前提交</td>
      <td data-ng-hide="homework.expiration">无限期</td>
      <td>{{homework.updated_at | date:'yyyy-MM-dd HH:mm'}}</td>
    </tr>
    </tbody>
  </table>


</div>